body{
    margin: 0;
    height: 100vh;
    background: #1C6EA4;
    background:linear-gradient(to right, #1C6EA4 0%, #2388CB 50%, #144E75 100%);

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.card-body{
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

.h1{
    font-size: 60px;
}

.card-btn button{
    border-radius: 5px;
    padding: 10px 15px;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    margin: 0 5px;
}

button#increas:hover{
    background: green;
    color: lightgreen;

}

button#reset:hover{
    background: pink;
    color: red;

}

button#decreas:hover{
    background: purple;
    color: salmon;

}

/*responsive opp til desktop*/
@media(min-height: 1025px){

}

/*responsive opp til tablet*/
@media(min-height: 770px){

}

/*responsive opp til mobil*/
@media(min-height: 340px){

}